body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

h1 {
  margin: 0 auto;
}

.maps-container {
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-map-container {
  margin: 50px;
  border: 2px cornflowerblue solid;
}

.map {
  height: 500px;
  width: 500px;
}

.description {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
}